@{
    ViewBag.Title = "Загрузка архивов погодных условий в городе Москве";
}
<h2>Загрузка архивов погодных условий в городе Москве</h2>
<div>
    @using (Html.BeginForm("UploadMultiple", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Select File:</span>
        <input type="file" name="postedFiles" multiple="multiple" />
        <hr />
        <input type="submit" value="Upload" />
        <br />
        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
        <p>@ViewBag.ErrorMessage</p>
    }
</div>
